<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% if messages %}
        <ul class="message">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'form' %}" method="Post">
            {% csrf_token %}
            <label for='cate'>Category</label><br>
            <input type="text" name="category" id='cate'>
            <input type="submit" value="Submit">
        </form>
        <form action="{% url 'tag' %}" method="post">
            {% csrf_token %}
            <label for="tag">Tags</label> <br>
            <input type="text" name="tag" id="tag">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>